*{
    padding: 0%;
    margin: 0%;
}
.menus-container{
    background-color: rgb(32, 1, 1);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo{
    width: 120px;
}
.item{
    margin-left: 10px;
    font-size: 23px;

}
.item:hover{
    cursor: pointer;
    color: crimson;

}
.banner-img{
    width: 300px;
    margin: 7px;
}
.banner-img:hover{
    cursor: zoom-in;

}
.banner-container{
    
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: white;
    align-items: center;
    background-image: url("background.webp");
    background-repeat: no-repeat;
    justify-items: center;
    background-size: cover;

}
.title{
    font-size: 30px;
    font-weight: bold;
    margin: 15px;

}
.para{
    font-size: 20px;
    margin: 15px;
}
.btn{
    background-color: darkcyan;
    padding: 10px;
    border: none;
    color: red;
    border-radius: 3px;
    margin: 15px;
    cursor: pointer;
}
.btn:hover{
   color: cadetblue;
   background-color: brown;
}

.about-container{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

}

.about{
    text-align: center;
    font-size: 35px;
    background-color: rgb(70, 8, 8);
}
.title-2{
    font-size: 30px;
    margin: 15px;
}